#a{
    font-family: 'Jaldi';
    font-size: 300px;
    padding: 30px;
}

#container {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid #000; /* Added bottom border */
}
#navbar {
    background-color: #f8f9fa; /* Light background color */
    padding: 10px 20px; /* Padding for the navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #000 solid 5px; /* Added border to the navbar */
}